* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background: #0ebb0e;
  height: 100vh;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-bottom: 30px;
  font-size: 1.8rem;
}

#rating-container {
  display: flex;
  gap: 20px;
}

#rating-container img {
  width: 80px;
  height: 80px;
  cursor: pointer;
  user-select: none;
}

#rating-container img:active {
  transform: scale(0.95);
}

#thank-you {
  margin-top: 30px;
  font-size: 1.6rem;
}

.hidden {
  display: none;
}
